.plot {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: auto;
    padding-left: auto; */
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  position: relative;
}

.plotOverlayDiv {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  text-align: center;
  z-index: 2;
}

.plotOverlayDiv a {
  color: #fff;
  /* height: 15px; */
  fill: #fff;
}

.plotOverlayDiv a svg {
  /* color: #fff; */
  height: 15px;
  /* fill: #fff; */
}
