**/venv/**

/webapp/built/index.js
webapp/bun.lockb
webapp/.env.dev
.firebase/hosting.**
webapp/firebase-debug.log
webapp/src/generated_app_check_secret.ts
functions/psp-portfolio-f1205-6da58e02b7b8.json
admin/src/generated_app_check_secret.ts
admin/.env.dev
admin/built/index.js
admin/bun.lockb
admin/firebase-debug.log
functions/psp-portfolio-key.json
functions/adc.json
functions/psp-portfolio-key-1.json
functions/__pycache__/
firebase-debug.log
ui-debug.log
functions/__pycache__/main.cpython-311.pyc
functions/all_channels.pickle
functions/DataLog_2024-0419-2059-23_CMS_Data_Wiring_6.pickle
functions/DataLog_2024-0419-2059-23_CMS_Data_Wiring_6.tdms
functions/DataLog_2024-0419-2059-24_CMS_Data_Wiring_5.pickle
functions/DataLog_2024-0419-2059-24_CMS_Data_Wiring_5.tdms
webapp/built/index.js
aws_lambda/*.hdf5
webapp/src/generated_app_info.ts
functions/.env
node_modules
functions/venv
mission/built/index.js
mission/src/generated_app_info.ts
mission/.env.dev


.python_packages
.venv
formatter/*.csv
