.url_list_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.url_list_div:hover {
    background-color: var(--steel);
}

.url_list_add_button {
    border: none;
    /* margin: 10px; */
    margin-right: 0px;
    /* width: calc(100% - 20px); */
    color: black;
    background-color: var(--rush);
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    height: fit-content;
    padding: 8px;
}

.url_list_delete_button {
    border: none;
    /* margin: 10px; */
    margin-right: 0px;
    /* width: calc(100% - 20px); */
    color: black;
    background-color: var(--rush);
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    height: fit-content;
    padding: 8px;
}

.url_list_title {
    /* margin-left: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.file_list_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.file_list_div:hover {
    background-color: var(--steel);
}

.file_list_add_button {
    border: none;
    /* margin: 10px; */
    margin-right: 0px;
    /* width: calc(100% - 20px); */
    color: black;
    background-color: var(--rush);
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    height: fit-content;
    padding: 8px;
}

.file_list_delete_button {
    border: none;
    /* margin: 10px; */
    margin-right: 0px;
    /* width: calc(100% - 20px); */
    color: black;
    background-color: var(--rush);
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    height: fit-content;
    padding: 8px;
}

.file_list_title {
    /* margin-left: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.test-field-file-upload {
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
}

.file_progress_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}