[data-corvu-dialog-overlay] {
  position: fixed;
  inset: 0px;
  z-index: 50;
  background-color: rgb(0 0 0 / 0.5);
}

[data-corvu-dialog-content] {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  min-width: 320px;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  animation-duration: 200ms;
  width: 60%;
  border: 3px solid var(--rush);
}

.switcherModal {
  height: 60%;
}

.settingsModal {
  height: 50%;
}


@keyframes enter {
  from {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0))
  }
}

@keyframes exit {
  to {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0))
  }
}

[data-corvu-dialog-content][data-open] {
  animation-name: enter;
  animation-duration: 150ms;
  --tw-enter-opacity: initial;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  ;
  --tw-enter-translate-y: initial --tw-enter-opacity: 0;
  --tw-enter-scale: .95;
  --tw-enter-translate-x: -50%;
  --tw-enter-translate-y: -60%;
}

[data-corvu-dialog-content][data-closed] {
  animation-name: exit;
  animation-duration: 150ms;
  --tw-exit-opacity: initial;
  --tw-exit-scale: initial;
  --tw-exit-rotate: initial;
  --tw-exit-translate-x: initial;
  --tw-exit-translate-y: initial;
  --tw-exit-opacity: 0;
  --tw-exit-scale: .95;
  --tw-exit-translate-x: -50%;
  --tw-exit-translate-y: -60%;
}


[data-corvu-dialog-label] {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: var(--rush);
  margin: 0px;
  color: black;
}

.switcherModalDescription {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: auto;
  height: calc(100% - 4.25rem);
  scrollbar-color: white transparent;
}

.settingsModalDescription {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  overflow: auto;
  height: calc(100% - 4.25rem);
  scrollbar-color: white transparent;
}

.testEntry {
  width: 100%;
  background-color: var(--background-color);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-family: "IBM Plex Mono", monospace;
  text-align: start;
  font-size: larger;
  cursor: pointer;
}

.testEntry:hover {
  background-color: var(--cool-gray);
}

.appInfo {
  color: rgb(143, 143, 143);
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: small;
  text-align: start;
  margin-left: 1em;
}

.appLink {
  color: rgb(143, 143, 143);
}

.appLink:visited {
  color: rgb(143, 143, 143);
}

.settingsContentDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.settingsButton {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
  border: none;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  color: black;
  background-color: var(--rush);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 6.5rem;
  cursor: pointer;
}

.settingsButton:hover {
  background-color: var(--field);
}

.settingsButtonName {
  font-weight: bold;
  margin-top: 0px;
}

.settingsButtonEaster svg {
  width: 30px;
}
