:root {
  --rush: #daaa00;
  --aged: #8e6f3e;
  --field: #ddb945;
  --cool-gray: #6f727b;
  --background-color: #1D1D1D;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}

#main {
  display: flex;
  flex-direction: row;
}

.plotTooltip {
  background-color: white;
  position: absolute;
  color: black;
}

.hiddenLegendItem {
  display: none;
}
