.inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.inputDiv:hover {
  background-color: var(--cool-gray);
}

.inputTitleDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputText {
  background-color: var(--background-color);
  border: 3px solid var(--field);
  color: white;
  padding: 10px;
  /* font-weight: bold; */
  font-family: "IBM Plex Mono", monospace;
  width: 300px;
}

.inputText:focus {
  background-color: var(--background-color);
  border: 3px solid var(--aged);
  color: white;
  padding: 10px;
  outline: 6px solid transparent;
}

.inputText:disabled {
  border: 3px solid transparent;
  color: rgb(204, 204, 204);
  background-color: transparent;
}

.inputSave {
  margin: 0px;
  padding: 20px;
  background-color: var(--rush);
  font-family: "IBM Plex Mono", monospace;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-top: 10px;
}

.inputSave:hover {
  background-color: var(--field);
}

.deleteButton {
  padding: 10px;
  background-color: var(--rush);
  font-family: "IBM Plex Mono", monospace;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: var(--field);
}

.datasetButton {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  padding: 10px;
  text-align: start;
}

.datasetButton:hover {
  background-color: var(--cool-gray);
}
