/* Status */

.loader {
  border: 3px solid var(--background-color);
  border-radius: 50%;
  border-top: 3px solid var(--field);
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.green_check {
  color: greenyellow;
}

.status {
  padding-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.statusMessage {
  margin: auto;
  padding-right: 10px;
}

/* Title */

.title {
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  font-family: "IBM Plex Mono", monospace;
}

.navbarButtons {
  margin-left: 20px;
  padding-top: 4px;
  /* border: 4px solid var(--rush); */
  border: none;
  color: black;
  background-color: var(--rush);
  cursor: pointer;
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
}

.navbarButtons:hover {
  background-color: var(--field);
}

/* Navbar */

.navBar {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Sharelink Button */

.sharelinkButton {
  background-color: var(--rush);
  color: black;
  padding: 0.5em;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: block;
}

.sharelinkButton:hover {
  background-color: var(--field);
}
