.datasetButton {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(143, 143, 143);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 5px;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
}

.datasetButton:hover {
  background-color: var(--cool-gray);
  color: white;
}

.datasetDiv {
  width: 100%;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.datasetLabelDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.legendSelector {
  margin: 0px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 10px;
}

.removeButton {
  padding: 0px;
  background-color: var(--rush);
  border: none;
  height: fit-content;
  cursor: pointer;
}

.removeButton:hover {
  background-color: var(--aged);
}

.label {
  font-stretch: condensed;
  font-size: smaller;
  margin: 0px;
  margin-left: 5px;
}

.iconDiv {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}