:root {
    --night-sky: #252526;
    --rush: #daaa00;
    --moondust: #f2efe9;
    --bm-gold: #cfb991;
    --aged: #8e6f3e;
    --field: #ddb945;
    --dust: #ebd99f;
    --steel: #555960;
    --cool-gray: #6f727b;
    --background-color: rgb(29, 29, 29);
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    padding-left: 5px;
    /* padding-right: 5px; */
}

div {
    margin: 0;
    padding: 0;
}

#navBar {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "IBM Plex Mono", monospace;
    color: white;
}

#title {
    font-weight: bold;
    font-size: larger;
}

#sharelinkButton {
    background-color: var(--rush);
    color: black;
    padding: 0.5em;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "IBM Plex Mono", monospace;
    display: block;
    opacity: 0;
}

#sharelinkButton:hover {
    background-color: var(--field);
}

.toolbar_button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    font-family: "IBM Plex Mono", monospace;
    display: block;
    opacity: 0;
    padding-top: 4px;
    border: 0.5px solid black;
    color: black;
    background-color: var(--rush);
    cursor: pointer;
    text-align: center;
}

.toolbar_button:hover {
    background-color: var(--field);
}

#toolbar {
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: row;
}

#plot {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-left: auto;
    background-color: var(--background-color);
}

#dataset-selector {
    width: 12.5%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    padding-top: 20px;
    scrollbar-color: white transparent;
    scrollbar-gutter: stable;
}

.datasetListDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    color: white;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    /* padding-bottom: 5px; */
    padding-right: 5px;
}

.datasetListDiv p {
    padding: 0;
    margin: 0;
    font-size: small;
    cursor: pointer;
}

.datasetListButton {
    border: none;
    cursor: pointer;
    /* background-color: var(--rush); */
    width: 40px;
    height: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    text-align: center;
    color: black;
}

.loader {
    border: 3px solid var(--background-color);
    border-radius: 50%;
    border-top: 3px solid var(--field);
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.green_check {
    color: greenyellow;
}

#status {
    padding-right: 20px;
    text-align: center;
}

#switch-test {
    margin-left: 20px;
    padding-top: 4px;
    /* border: 4px solid var(--rush); */
    border: none;
    color: black;
    background-color: var(--rush);
    cursor: pointer;
    text-align: center;
    font-size: smaller;
}

#switch-test:hover {
    background-color: var(--field);
}

#switch-test p {
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 25vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    color: white;
    position: relative;
    background-color: var(--background-color);
    margin: auto;
    padding: 0;
    border: 2px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--rush);
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
}

#modal-body {
    padding: 2px 16px;
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    max-height: 20vh;
    overflow: auto;
}

.modal_button {
    border: none;
    margin: 0;
    width: 100%;
    color: white;
    background-color: var(--background-color);
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-size: larger;
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
}

.defaultTestModal {
    color: rgb(182, 182, 182);
}

.available {
    text-decoration: line-through;
    color: rgb(143, 143, 143);
}