:root {
    --night-sky: #252526;
    --rush: #daaa00;
    --moondust: #f2efe9;
    --bm-gold: #cfb991;
    --aged: #8e6f3e;
    --field: #ddb945;
    --dust: #ebd99f;
    --steel: #555960;
    --cool-gray: #6f727b;
    --background-color: rgb(29, 29, 29);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    padding-left: 5px;
    padding-right: 5px;
}

div {
    margin: 0;
    padding: 0;
}

#navBar {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "IBM Plex Mono", monospace;
    color: white;
}

#title {
    font-weight: bold;
    font-size: larger;
}

#addBtn {
    background-color: var(--rush);
    color: white;
    padding: 0.5em;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "IBM Plex Mono", monospace;
    display: none;
}

#addBtn:hover {
    background-color: var(--field);
}

#main {
    display: flex;
    flex-direction: row;
}

#plot {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-left: auto;
}

#dataset-selector {
    width: 10%;
    height: 90%;
    overflow: auto;
    padding-top: 20px;
}

.datasetListDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    color: white;
}