.homeNavbarItem {
  width: 100%;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: medium;
  cursor: pointer;
  align-items: center;
  text-align: start;
}

.homeNavBar {
  height: 100%;
  overflow: auto;
}

.homeNavbarItemSelected {
  background-color: white;
  color: black;
}

.homeNavbarItemSelected:hover {
  background-color: var(--cool-gray);
  color: white;
}

.homeNavbarItemDefault {
  background-color: transparent;
  color: white;
}

.homeNavbarItemDefault:hover {
  background-color: var(--cool-gray);
  color: white;
}
