.article_button {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--rush);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.article_button:hover {
    background-color: var(--field);
}