.loader {
    border: 3px solid var(--background-color);
    border-radius: 50%;
    border-top: 3px solid var(--field);
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 0.5s linear infinite;
}

.loader-dark {
    border: 3px solid var(--field);
    border-radius: 50%;
    border-top: 3px solid var(--background-color);
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.green_check {
    color: greenyellow;
    fill: greenyellow;
}

#status {
    padding-right: 20px;
    text-align: center;
}