.check {
  fill: greenyellow;
  width: 20px;
}

.settings {
  fill: black;
  width: 18px;
  padding: 4px;
}

.swap {
  fill: black;
  width: 15px;
  padding: 5px;
}

.x {
  width: 10px;
  fill: white;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.chevron {
  width: 7px;
  fill: white;
}

.chart {
  width: 5px;
  fill: white;
}
