.picker {
  position: relative;
}

.swatch {
  width: 1.5em;
  height: 1.5em;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.popover {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  z-index: 99;
}
