.filterDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px;
}

.filterButton {
  border: 1px solid white;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "IBM Plex Mono", monospace;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.filterButtonInactive {
  background-color: transparent;
  color: white;
}

.filterButtonInactive:hover {
  background-color: var(--cool-gray);
}

.filterButtonActive {
  background-color: white;
  color: black;
}
.filterButtonActive:hover {
  background-color: var(--cool-gray);
}
