.instancesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.centered {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  width: 40%;
  max-width: 40%;
}

.textField {
  background-color: var(--background-color);
  border: 3px solid var(--field);
  color: white;
  padding: 10px;
  /* font-weight: bold; */
  font-family: "IBM Plex Mono", monospace;
  width: 300px;
}

.textField:focus {
  background-color: var(--background-color);
  border: 3px solid var(--aged);
  color: white;
  padding: 10px;
  outline: 6px solid transparent;
}

.textField:disabled {
  border: 3px solid transparent;
  color: rgb(204, 204, 204);
  background-color: transparent;
}

.configButton {
    border: none;
    margin: 10px;
    width: calc(100% - 20px);
    color: black;
    background-color: var(--rush);
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    /* font-size: larger; */
    /* text-align: start; */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.configButton:hover {
    background-color: var(--field);
}

.configButton:disabled {
    cursor: default;
    background-color: greenyellow;
}

.currentConfig {
    overflow-wrap: anywhere;
    text-align: start;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.buttonLoader {
  border: 3px solid var(--background-color);
  border-radius: 50%;
  border-top: 3px solid var(--field);
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
